---
global:
  namespace: brsp
  # storageClass: jellybean-nfs-retain
postgres:
  imageName: "ghcr.io/cloudnative-pg/postgresql:18.1-202511240807-minimal-trixie@sha256:6f52f3adc69a4416300f5cabc511ed334b585fd5f8bb7df33bb0003202efea13"
  instances: 1
  initdb:
    database: brsp
    owner: brsp
  resources:
    limits:
      memory: 512Mi
    requests:
      memory: 512Mi
environment:
  - dev
  - bluegreen
environmentByService:
  - dev
  - bluegreen-preview
  - bluegreen-active
spring:
  env:
    STATIC_DIR: /usr/share/spring/static
    PRIV_DIR: /usr/share/spring/priv
    IS_DROP_FIRST: "false"
  containerPort: 8080 # TODO: Add to application.yml/${SPRING_PORT}
  dataPath: /usr/share/spring
  replicaCount: 1
  image:
    repository: "ghcr.io/zynthasius31/brsp-spring"
    tag:
      dev: "dev-0.9.10"
      bluegreen: "0.9.7"
  resources:
    requests:
      memory: 2Gi
    limits:
      memory: 2Gi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  service:
    type: ClusterIP
    port: 80
  storage:
    dev: 1Gi
    bluegreen: 5Gi
next:
  containerPort: 3000
  replicas:
    dev: 1
    bluegreen: 1
  image:
    repository: "ghcr.io/zynthasius31/brsp"
    tag:
      dev: dev-0.12.20
      bluegreen: 0.12.21
  resources:
    requests:
      memory: 512Mi
    limits:
      memory: 512Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  service:
    type: ClusterIP
    port: 80
letsencrypt:
  enabled: true
  email: bridgespero@gmail.com
  server: https://acme-staging-v02.api.letsencrypt.org/directory  # STAGING
  # server: https://acme-v02.api.letsencrypt.org/directory
cloudflared:
  enabled: false
  replicaCount: 1
  image:
    repository: "docker.io/cloudflare/cloudflared"
    tag: 2025.11.1
  resources:
    limits:
      memory: 256Mi
    requests:
      memory: 256Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}
ingress:
  enabled: true
  annotations: {}
  tls:
    - hosts:
        - prev2.bridgespero.com
        - next2.bridgespero.com
      secretName: brsp-tls
  hosts:
    - host: prev2.bridgespero.com
      paths:
        - path: /
          pathType: Prefix
          service:
            app: next
            environment: dev
            port: 80
    - host: next2.bridgespero.com
      paths:
        - path: /
          pathType: Prefix
          service:
            app: next
            environment: dev
            port: 80
redis:
  replicaCount: 1
  image:
    node:
      repository: docker.io/library/redis
      tag: latest
    sentinel:
      repository: docker.io/library/redis
      tag: latest
  resources:
    node:
      limits:
        memory: 512Mi
      requests:
        memory: 512Mi
    sentinel:
      limits:
        memory: 128Mi
      requests:
        memory: 128Mi
configMaps:
  next: next
  spring: spring
secrets:
  cr: cr-token
  cf: cf-tunnel-token
  postgres: db-user-secret
  spring: spring
