---
global: {}
# storageClass: jellybean-nfs-retain
environment:
  - bluegreen
  - dev
environmentByService:
  - bluegreen-active
  - bluegreen-preview
  - dev
spring:
  affinity: {}
  containerPort: 8080
  dataPath: /usr/share/spring
  env:
    IS_DROP_FIRST: "false"
    PRIV_DIR: /usr/share/spring/priv
    STATIC_DIR: /usr/share/spring/static
  image:
    repository: "ghcr.io/zynthasius31/brsp-spring"
    tag:
      bluegreen: "0.9.23"
      dev: "dev-0.9.23"
  nodeSelector: {}
  replicaCount: 1
  resources:
    limits:
      cpu: "2"
      memory: 2Gi
    requests:
      cpu: "2"
      memory: 2Gi
  service:
    port: 80
    type: ClusterIP
  storage:
    bluegreen: 5Gi
    dev: 1Gi
  tolerations: []
next:
  affinity: {}
  containerPort: 3000
  env:
    bluegreen.NEXT_PUBLIC_API_URL: https://bridgespero.com/api/v1
    bluegreen.NEXT_PUBLIC_PAGE_URL: https://brigespero.com
    dev.NEXT_PUBLIC_API_URL: https://dev.bridgespero.com/api/v1
    dev.NEXT_PUBLIC_PAGE_URL: https://dev.bridgespero.com
  image:
    repository: "ghcr.io/zynthasius31/brsp"
    tag:
      bluegreen: 0.14.13
      dev: dev-0.14.13
  nodeSelector: {}
  replicas:
    bluegreen: 1
    dev: 1
  resources:
    limits:
      cpu: "2"
      memory: 1Gi
    requests:
      cpu: "2"
      memory: 1Gi
  service:
    port: 80
    type: ClusterIP
  tolerations: []
postgres:
  imageName: "ghcr.io/cloudnative-pg/postgresql:18.1-202511240807-minimal-trixie@sha256:6f52f3adc69a4416300f5cabc511ed334b585fd5f8bb7df33bb0003202efea13"
  initdb:
    database: brsp
    owner: brsp
  instances: 1
  resources:
    limits:
      cpu: "1"
      memory: 512Mi
    requests:
      cpu: "500m"
      memory: 512Mi
redis:
  image:
    node:
      repository: docker.io/library/redis
      tag: latest
    sentinel:
      repository: docker.io/library/redis
      tag: latest
  replicaCount: 1
  resources:
    node:
      limits:
        cpu: "1"
        memory: 512Mi
      requests:
        cpu: "500m"
        memory: 512Mi
    sentinel:
      limits:
        cpu: "500m"
        memory: 128Mi
      requests:
        cpu: "500m"
        memory: 128Mi
letsencrypt:
  email: bridgespero@gmail.com
  enabled: true
  server: https://acme-v02.api.letsencrypt.org/directory
  # server: https://acme-staging-v02.api.letsencrypt.org/directory  # STAGING
cloudflared:
  affinity: {}
  enabled: false
  image:
    repository: "docker.io/cloudflare/cloudflared"
    tag: 2025.11.1
  nodeSelector: {}
  replicaCount: 1
  resources:
    limits:
      cpu: "500m"
      memory: 256Mi
    requests:
      cpu: "500m"
      memory: 256Mi
  tolerations: []
ingress:
  annotations: {}
  enabled: true
  tls:
    - hosts:
        - bridgespero.com
        - prev.bridgespero.com
        - dev.bridgespero.com
      secretName: brsp-tls
  hosts:
    - host: dev.bridgespero.com
      environment: dev
      paths:
        - app: next
          path: /
          pathType: Prefix
        - app: spring
          path: /api/v1
          pathType: Prefix
        - app: spring
          path: /swagger-ui
          pathType: Prefix
        - app: spring
          path: /v3/api-docs
          pathType: Prefix
        - app: spring
          path: /public
          pathType: Prefix
      portName: http
configMaps:
  next: next
  spring: spring
secrets:
  cr: cr-token
  cf: cf-tunnel-token
  postgres: db-user-secret
  spring: spring
