---
global: {}
  # storageClass: jellybean-nfs
environment:
  - dev
  - bluegreen-preview
  - bluegreen-active
next:
  containerPort: 3000
  replicaCount: 1
  image:
    repository: "ghcr.io/zynthasius31/brsp"
    tag:
      dev: dev-0.1.1
      bluegreen: 0.1.0
    pullPolicy: Always
  resources:
    limits:
      cpu: 500m
      memory: 256Mi
    requests:
      cpu: 500m
      memory: 256Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  service:
    type: ClusterIP
    port: 80
cloudflared:
  enabled: true
  replicaCount: 1
  image:
    repository: "docker.io/cloudflare/cloudflared"
    tag: latest
    pullPolicy: Always
  resources:
    limits:
      cpu: 100m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 256Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}
ingress:
  enabled: true
  annotations: {}
  hosts:
    - host: dev.bridgespero.com
      paths:
        - path: /
          pathType: Prefix
          service:
            app: next
            environment: dev
            port: 80
    - host: prev.bridgespero.com
      paths:
        - path: /
          pathType: Prefix
          service:
            app: next
            environment: bluegreen-preview
            port: 80
redis:
  replicaCount: 1
  image:
    node:
      repository: docker.io/library/redis
      tag: latest
    sentinel:
      repository: docker.io/library/redis
      tag: latest
  resources:
    node:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 500m
        memory: 512Mi
    sentinel:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
secrets:
  cr: brsp-cr-token
  cf: brsp-tunnel-token
