---
global: {}
  # storageClass: jellybean-nfs
postgres:
  imageName: "ghcr.io/cloudnative-pg/postgresql:18.1-202511240807-minimal-trixie@sha256:6f52f3adc69a4416300f5cabc511ed334b585fd5f8bb7df33bb0003202efea13"
  instances: 1
  initdb:
    database: brsp
    owner: brsp
  resources:
    limits:
      cpu: 500m
      memory: 256Mi
    requests:
      cpu: 500m
      memory: 256Mi
environment:
  - dev
  - bluegreen
environmentByService:
  - dev
  - bluegreen-preview
  - bluegreen-active
spring:
  containerPort: 8080
  replicaCount: 1
  image:
    repository: "ghcr.io/zynthasius31/brsp-spring"
    tag:
      dev: "0.1.1-SNAPSHOT"
      bluegreen: "0.1.1-SNAPSHOT"
    pullPolicy: Always
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  service:
    type: ClusterIP
    port: 80
next:
  containerPort: 3000
  replicaCount:
    dev: 1
    bluegreen: 1
  image:
    repository: "ghcr.io/zynthasius31/brsp"
    tag:
      dev: dev-0.1.1
      bluegreen: 0.1.0
    pullPolicy: Always
  resources:
    limits:
      cpu: 500m
      memory: 256Mi
    requests:
      cpu: 500m
      memory: 256Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  service:
    type: ClusterIP
    port: 80
cloudflared:
  enabled: true
  replicaCount: 1
  image:
    repository: "docker.io/cloudflare/cloudflared"
    tag: latest
    pullPolicy: Always
  resources:
    limits:
      cpu: 100m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 256Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}
ingress:
  enabled: true
  annotations: {}
  hosts:
    - host: dev.bridgespero.com
      paths:
        - path: /
          pathType: Prefix
          service:
            app: next
            environment: dev
            port: 80
    - host: prev.bridgespero.com
      paths:
        - path: /
          pathType: Prefix
          service:
            app: next
            environment: bluegreen-preview
            port: 80
redis:
  replicaCount: 1
  image:
    node:
      repository: docker.io/library/redis
      tag: latest
    sentinel:
      repository: docker.io/library/redis
      tag: latest
  resources:
    node:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 500m
        memory: 512Mi
    sentinel:
      limits:
        cpu: 100m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 128Mi
url:
  dev: https://dev.bridgespero.com
configMaps:
  spring: spring
secrets:
  cr: cr-token
  cf: cf-tunnel-token
  postgres: db-user-secret
  spring: spring
